# Projeto 1 - Ci√™ncia dos Dados

Nome: L√≠via Sayuri Makuta.

Nome: Bernardo Cunha Capoferri

Nome: Henrique Martinelli Frezzatti

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [15]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [16]:
import os

filename = 'coca_cola_copia.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo coca_cola_copia.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [17]:
train = pd.read_excel(filename)
train.head(5)

,Treinamento,CATEGORIAS_1,(0: irrelevante ; 1: relevante ; 2: muito relevante)
0,"coisas in√∫teis sobre mim\naltura ‚Äî 1,72\nidade...",2,NaN
1,"coisas in√∫teis sobre mim\naltura ‚Äî 1,55\nidade...",2,NaN
2,@jihycoid coca-cola?kkkk,0,NaN
3,"rt @eholuan: s√≥ bebo coca cola agr, espero q m...",1,NaN
4,rt @ferrg__: j√° dizia meu irm√£o marco ant√¥nio ...,1,NaN

In [18]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,CATEGORIAS_2,(0: irrelevante ; 1: relevante ; 2: muito relevante)
0,@liegloss @thomzxx a coca-cola n√£o me chama ne...,0,NaN
1,tomando coca cola 6hrs da manh√£ ao inv√©s de to...,1,NaN
2,"coisas in√∫teis sobre mim\naltura ‚Äî 1,56\nidade...",2,NaN
3,rt @_samirars: estou com uma vontade imensa de...,1,NaN
4,@themethodic fui ver aqui e 1 pacotinho desse ...,0,NaN

In [19]:
dados = pd.read_csv('coca_cola_copia_2.csv')

In [20]:
test['CATEGORIAS_2'] = test['CATEGORIAS_2'].astype('category')
train['CATEGORIAS_1'] = train['CATEGORIAS_1'].astype('category')

test.CATEGORIAS_2.cat.categories = ['Irrelevante','Relevante','Muito relevante']
train.CATEGORIAS_1.cat.categories = ['Irrelevante','Relevante','Muito relevante']

test.CATEGORIAS_2= pd.Categorical(test.CATEGORIAS_2, categories=['Irrelevante','Relevante','Muito relevante'], ordered=True)
train.CATEGORIAS_1= pd.Categorical(train.CATEGORIAS_1, categories=['Irrelevante','Relevante','Muito relevante'], ordered=True)


train.head()

,Treinamento,CATEGORIAS_1,(0: irrelevante ; 1: relevante ; 2: muito relevante)
0,"coisas in√∫teis sobre mim\naltura ‚Äî 1,72\nidade...",Muito relevante,NaN
1,"coisas in√∫teis sobre mim\naltura ‚Äî 1,55\nidade...",Muito relevante,NaN
2,@jihycoid coca-cola?kkkk,Irrelevante,NaN
3,"rt @eholuan: s√≥ bebo coca cola agr, espero q m...",Relevante,NaN
4,rt @ferrg__: j√° dizia meu irm√£o marco ant√¥nio ...,Relevante,NaN

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

O produto escolhido foi a bebida coca-cola, sendo assim outros produtos da marca n√£o foram considerados. 
Para separar os tweets entre relevante, irrelevante e muito relevante, levamos em considera√ß√£o se o tweet falava explicitamente sobre o gosto da pessoa por coca-cola. 

Dessa forma, o tweet seria considerado muito relevante se, por exemplo, falasse: "amo coca-cola", "minha bebida favorita √© coca-cola". E consideramos apenas relevante tweets que citavam coca-cola com outras coisas ou que n√£o falavam explicitamente que gostavam de coca-cola, por exemplo: "p√£o com coca-cola". Por fim, consideramos irrelevantes tweets que citavam coca-cola em uma express√£o ou que estavam muito pouco relacionados com o fato dos autores da mensagem gostarem da bebida, por exemplo: "se acha a √∫ltima coca-cola do deserto", "ontem fui no mercado e vi coca-cola".

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [21]:
import re 



spec_chars = ["!","‚Äî"," "'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","‚Äì","kkkkkkkkkkkkk","j8l9rfxlzm","https t co pom5f4bfi4","0wfmxcndfp"]

for char in spec_chars:
    train['Treinamento'] = train['Treinamento'].str.replace(char, ' ')
    train['Treinamento'] = train['Treinamento'].str.split().str.join(" ")

In [22]:
train.head()

,Treinamento,CATEGORIAS_1,(0: irrelevante ; 1: relevante ; 2: muito relevante)
0,coisas in√∫teis sobre mim altura 1 72 idade 15 ...,Muito relevante,NaN
1,coisas in√∫teis sobre mim altura 1 55 idade 19 ...,Muito relevante,NaN
2,jihycoid coca cola kkkk,Irrelevante,NaN
3,rt eholuan s√≥ bebo coca cola agr espero q me e...,Relevante,NaN
4,rt ferrg j√° dizia meu irm√£o marco ant√¥nio vulg...,Relevante,NaN

In [54]:
lista_treinamento= list(train.Treinamento)
lista_treinamento[0]

Muito_relevante = (train['CATEGORIAS_1'] == 'Muito relevante')
filtro_muito_relevante = train.loc[Muito_relevante,:]

Relevante = train['CATEGORIAS_1'] == 'Relevante'
filtro_relevante = train.loc[Relevante,:]

Irrelevante = train['CATEGORIAS_1'] == 'Irrelevante'
filtro_irrelevante = train.loc[Irrelevante,:]

LISTA_TREINAMENTO_MUITO_RELEVANTE = list(filtro_muito_relevante.Treinamento)


LISTA_TREINAMENTO_RELEVANTE = list(filtro_relevante.Treinamento)


LISTA_TREINAMENTO_IRRELEVANTE = list(filtro_irrelevante.Treinamento)

In [51]:
filtro_muito_relevante

,Treinamento,CATEGORIAS_1,(0: irrelevante ; 1: relevante ; 2: muito relevante)
0,coisas in√∫teis sobre mim altura 1 72 idade 15 ...,Muito relevante,NaN
1,coisas in√∫teis sobre mim altura 1 55 idade 19 ...,Muito relevante,NaN
7,coisas in√∫teis sobre mim altura n√£o sei tamanh...,Muito relevante,NaN
8,coisas in√∫teis sobre mim altura 1 83 idade 18 ...,Muito relevante,NaN
10,coisas in√∫teis sobre mim altura 1 60 idade tam...,Muito relevante,NaN
...,...,...,...
788,coisas in√∫teis sobre mim altura 1 56 tamanho d...,Muito relevante,NaN
789,coisas in√∫teis sobre mim altura 1 66 idade 16 ...,Muito relevante,NaN
793,coisas in√∫teis sobre mim altura 1 64 idade 22 ...,Muito relevante,NaN
794,coisas in√∫teis sobre mim altura 1 56 idade 19 ...,Muito relevante,NaN
797,como eu amo coca cola,Muito relevante,NaN

In [59]:
lista_treinamento=[]
for linha in LISTA_TREINAMENTO:
    linha_nova = linha.split()
    for palavra in linha_nova:
        lista_treinamento.append(palavra)

lista_treinamento_muito_relevante=[]
for linha in LISTA_TREINAMENTO_MUITO_RELEVANTE:
    linha_nova = linha.split()
    for palavra in linha_nova:
        lista_treinamento_muito_relevante.append(palavra)



lista_treinamento_relevante=[]
for linha in LISTA_TREINAMENTO_RELEVANTE:
    linha_nova = linha.split()
    for palavra in linha_nova:
        lista_treinamento_relevante.append(palavra)



lista_treinamento_irrelevante=[]
for linha in LISTA_TREINAMENTO_IRRELEVANTE:
    linha_nova = linha.split()
    for palavra in linha_nova:
        lista_treinamento_irrelevante.append(palavra)

In [63]:
serie_treinamento = pd.Series(lista_treinamento)
serie_treinamento_muito_relevante = pd.Series(lista_treinamento_muito_relevante)
serie_treinamento_relevante = pd.Series(lista_treinamento_relevante)
serie_treinamento_irrelevante = pd.Series(lista_treinamento_irrelevante)


tabela_relativa = serie_treinamento.value_counts(True)
tabela_relativa_muito_relevante = serie_treinamento_muito_relevante.value_counts(True)
tabela_relativa_relevante = serie_treinamento_relevante.value_counts(True)
tabela_relativa_irrelevante = serie_treinamento_irrelevante.value_counts(True)

tabela_relativa_irrelevante

coca          0.054734
cola          0.052926
de            0.033531
e             0.023340
eu            0.019888
                ...
ü§∑üèª‚Äç‚ôÇÔ∏è         0.000164
vencomigo     0.000164
eugrbrbipb    0.000164
hist√≥ria      0.000164
parar         0.000164
Length: 1955, dtype: float64

In [38]:
bebida = tabela_relativa['bebida']
fav = tabela_relativa['fav']
P_bebidafav = bebida*fav
P_bebidafav


bom = tabela_relativa['bom']
coca = tabela_relativa ['coca']
P_cocabom = bom*coca
P_cocabom

quero = tabela_relativa['quero']
tomar = tabela_relativa['tomar']
P_querotomarcoca = quero*tomar*coca
P_querotomarcoca

5.254327590935985e-08

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**